img {
    max-width: 100%;
    /* Para que no interfieran con el ancho y maquetar el footer a gusto */
}

.footer {
    background-color: #232323;
    padding-top: 30px;
}

.footer__wrapper {
    margin-left: 15px;
    margin-right: 15px;
}

.footer__logo {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.footer__logo--img {
    display: inline-block;
    height: 18px;
}

.footer__nav {
    margin-top: 48px;
    margin-bottom: 30px;
}

.footer__nav--title {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 24px;
    width: 100%;
    text-align: left;
    display: inline-block;
}

.footer__nav--title-icon {
    position: absolute;
    right: 15px;
}

.footer__nav--link {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255,255,255,.7);
    text-decoration: none;
    margin-bottom: 16px;
    line-height: 1.3rem;
}

.footer__nav--dropdown {
    max-height: 0px;
    overflow: hidden;
    list-style: none;
    transition: all 0.5s ease;
}

.footer__nav--checkbox {
    display: none;
}

.footer__nav--checkbox:checked ~ .footer__nav--dropdown {
    padding-bottom: 30px;
    height: auto;
    max-height: 30rem;
    transition: all 0.5s ease;
}

.footer__nav--checkbox:checked + .footer__nav--title>.footer__nav--title-icon:after {
    content: "-";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #232323;
}

.footer__social {
    display: flex;
}

.footer__social--link {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
}

.footer__copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
    padding: 15px 0;
}

.footer__privacy {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    line-height: 1.3rem;
}

.footer__privacy--link {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255,255,255,.7);
    text-decoration: none;
}

.footer__privacy--divider {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
}

/* Tablet */

@media (min-width: 575px) {

    .footer {
        padding-right: 18px;
        padding-left: 18px;
    }

    .footer__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .footer__nav--block{
        width: 45%;
    }

    .footer__nav--dropdown {
        padding-bottom: 30px;
        height: auto;
        max-height: 100%;
    }

    .footer__nav--title {
        cursor: auto;
    }

    .footer__nav--title-icon{
        display: none;
    }
}

/* Desktop */

@media (min-width: 992px) {

    .footer__wrapper{
        width: 100%;
        max-width: 1140px;
        margin: auto;
    }

    .footer__nav {
        margin-top: 48px;
        flex-wrap: nowrap;
    }

    .footer__nav--block{
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer__logo {
        text-align: left;
    }

    .footer__copyright {
        position: absolute;
    }

    .footer__privacy {
        margin-left: 50%;
    }
}