.footer {
    padding-top: 1.9rem;
    font-weight: var(--font-weight__light);
    font-size: var(--font-size);
    font-family:  var(--font-family);
    background-color: var(--color__black);
}

.footer-wrapper {
    padding-right: var(--layout-indent--mobile);
    padding-left: var(--layout-indent--mobile);
}

.footer__logo {
    text-align: center;
}

.footer__img {
    display: inline-block;
    max-height: 1.1rem;
}


.footer__copyright {
    display: inline-block;
    margin-bottom: var(--spacing__16px);
    color: var(--color__white);
    width: 100%;
}

/* Tablet */

@media (min-width: 575px) {

    .footer-wrapper{
        margin: auto;
        padding-right: var(--layout-indent--tablet);
        padding-left: var(--layout-indent--tablet);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

/* Desktop */

@media (min-width: 1030px) {

    .footer__logo {
        text-align: left;
        width: 100%;
    }

    .footer__copyright {
        width: 48%;
    }

}