
.footer {
    padding-top: 1.9rem;
    font-weight: var(--main-font-weight);
    font-size: var(--main-font-size);
    font-family:  var(--main-font-family);
    background-color: #232323;
}

.footer-wrapper {
    margin-right: var(--layout-indent);
    margin-left: var(--layout-indent);
}

.footer__logo {
    text-align: center;

}

.footer__img {
    display: inline-block;
    max-height: 1.1rem;
}


.footer__copyright {
    padding: 0.9rem 0;
    color: #ffffff;
    line-height: 1.3rem;
}

/* Tablet */

@media (min-width: 575px) {

    .footer-wrapper{
        margin: auto;
        width: 100%;
        max-width: 540px;
    }

}

/* Desktop */

@media (min-width: 992px) {

    .footer-wrapper{
        max-width: 1140px;
    }

    .footer__logo {
        padding-left: var(--layout-indent);
        text-align: left;
    }

    .footer__copyright {
        position: absolute;
        padding-left: 0.9rem;
    }

}
