.expandable__button{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.expandable__button::after {
    content: '+';
}

.expandable__button--is-expanded::after {
    content: '-';
}

.expandable__content {
    overflow: hidden;
    transition: all 0.5s ease;
}

.expandable__content--is-expanded {
    height: auto;
}