.footer-nav {
    margin-top: var(--spacing__48px);
    margin-bottom: var(--spacing__32px)
}

.footer-nav__title {
    width: 100%;
    padding: 1rem 0;
    color: var(--color__white);
    font-weight: var(--font-weight__bold);
    font-size: var(--font-size);
    font-family: var(--font-family);
    text-align: left;
}

.footer-nav__list {
    width: 100%;
    list-style: none;
}

.footer-nav__list.expandable__element--is-expanded {
    padding-bottom: 1.5rem;
}

.footer-nav__list .nav-item {
    color: var(--color__grey);
}

/* Tablet */

@media (min-width: 575px) {

    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .footer-nav__block{
        width: 48%;
    }

    .footer-nav__list {
        height: auto;
        max-height: 100%;
        padding-bottom: 1.5rem;
    }

    .footer-nav__title {
        cursor: auto;
    }

    .footer-nav__title::after{
        display: none;
    }
}


/* Desktop */

@media (min-width: 1030px) {

    .footer-nav {
        flex-wrap: nowrap;
    }

    .footer-nav__block{
        width: 22%;
    }
}