.footer-nav {
    margin-top: 48px;
    margin-bottom: 30px;
}

.footer-nav__title {
    display: inline-block;
    width: 100%;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #ffffff;
    font-weight: 700;
    font-size: var(--main-font-size);
    font-family: var(--main-font-family);
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.footer-nav__title::after {
    float:right;
    color: #ffffff;
    font-size: var(--main-font-size);
    font-family: var(--main-font-family);
    text-align: right;
    content: attr(data-content);
}

.footer-nav__icon {
    position: absolute;
    right: 15px;
}

.footer-nav__item {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgba(255,255,255,.7);
    line-height: 1.3rem;
    text-decoration: none;
}

.footer-nav__dropdown {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    transition: all 0.5s ease;
}

.footer-nav__dropdown.show {
    height: auto;
    max-height: 30rem;
    padding-bottom: 30px;
}

.footer-nav__checkbox {
    display: none;
}

/* Tablet */

@media (min-width: 575px) {

    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .footer-nav__block{
        width: 45%;
    }

    .footer-nav__dropdown {
        height: auto;
        max-height: 100%;
        padding-bottom: 30px;
    }

    .footer-nav__title {
        cursor: auto;
    }

    .footer-nav__icon{
        display: none;
    }

    .footer-nav__title::after{
        display: none;
    }
}


/* Desktop */

@media (min-width: 992px) {

    .footer-nav {
        flex-wrap: nowrap;
        margin-top: 48px;
    }

    .footer-nav__block{
        padding-right: 15px;
        padding-left: 15px;
    }
}