.footer-privacy {
    display: flex;
    flex-direction: column;
}

.footer-privacy__item a {
    display: inline-block;
    color: var(--color__grey);
    text-decoration: none;
    margin-bottom: 1rem;
}


/* Tablet */

@media (min-width: 575px) {

    .footer-privacy {
        flex-direction: row;
    }

    .footer-privacy__item + .footer-privacy__item::before{
        display: inline-block;
        width: 1px;
        height: 0.8rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        background-color: var(--color__white);
        content: "";
    }
}

/* Desktop */

@media (min-width: 1030px) {

    .footer-privacy {
        width: 48%;
    }
}