.footer-nav {
    margin-top: 3rem;
    margin-bottom: 1.9rem;
}

.footer-nav__title {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0 1.5rem;
    color: var(--color__white);
    font-weight: var(--font-weight__bold);
    font-size: var(--font-size);
    font-family: var(--font-family);
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.footer-nav__title::after {
    float: right;
    color: var(--color__white);
    font-size: var(--font-size);
    font-family: var(--font-family);
    text-align: right;
    content: attr(data-content);
}

.footer-nav__dropdown {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    transition: all 0.5s ease;
}

.footer-nav__dropdown.show {
    height: auto;
    max-height: 30rem;
    padding-bottom: 1.9rem;
}

.footer-nav__dropdown .nav-item {
    color: var(--color__grey);
}

/* Tablet */

@media (min-width: 575px) {

    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .footer-nav__block{
        width: 48%;
    }

    .footer-nav__dropdown {
        height: auto;
        max-height: 100%;
        padding-bottom: 1.9rem;
    }

    .footer-nav__title {
        cursor: auto;
    }

    .footer-nav__title::after{
        display: none;
    }
}


/* Desktop */

@media (min-width: 1030px) {

    .footer-nav {
        flex-wrap: nowrap;
    }

    .footer-nav__block{
        width: 22%;
    }
}