.footer-privacy {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.footer-privacy__item a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: rgba(255,255,255,.7);
    line-height: 1.3rem;
    text-decoration: none;
}

.footer-privacy__item:not(:last-child)::after{
    display: inline-block;
    width: 1px;
    height: 0.8rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background-color: #ffffff;
    content: "";
}

/* Desktop */

@media (min-width: 992px) {

    .footer-privacy {
        margin-left: 50%;
    }
}