.footer-social {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
}

.footer-social__item {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0.25rem;
    padding: 0.25rem;
}