
.nav-item {
    display: inline-block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    line-height: 1.5rem;
    text-decoration: none;
}